<body>
  <div class="main">
    <div>
      <input type="text" [(ngModel)]="newtext" />
      <button (click)="addtext()">add</button>
    </div>

    <ul>
    <li *ngFor="let item of todo; let i = index">
      <!-- Normal mode -->
      <div *ngIf="!item.isEditing">
        <p [class.done]="item.done">{{ item.text }}</p>
        <button (click)="deleteToDo(i)">Delete</button>
        <button (click)="edit(item)">Edit</button>
        <button (click)="toggleDone(item)">Done</button>
      </div>

      <!-- Edit mode -->
      <div *ngIf="item.isEditing">
        <input [(ngModel)]="item.text" />
        <button (click)="save(item)">Save</button>
      </div>
    </li>
  </ul>
  </div>
</body>
